<mat-card class="content-margin black-border">
  <mat-card-content class="content-margin">
    <mat-grid-list rowHeight="400px" cols="2" gutterSize="10px">
      <mat-grid-tile>
        <div class="left-container">
          <img
            ngSrc="https://ui.angular-material.dev/app-ui/logo.svg"
            alt="Logo"
            height="48"
            width="48"
            class="inline"
          />
          <h1 class="text-3xl">Sign in</h1>
          <p>to continue to Application</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Enter your email</mat-label>
              <input matInput placeholder="pat@example.com" required />
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Enter your password</mat-label>
              <input matInput [type]="hide() ? 'password' : 'text'" />
              <button
                mat-icon-button
                matSuffix
                [attr.aria-label]="'Hide password'"
              >
                <mat-icon>{{
                  hide() ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
