@import url(../../themes.scss);
@import url(../../styles.scss);


.example-spacer {
  flex: content;
}
.restaurant-list {
  display: flex;
  flex-direction: row;
  overflow: auto;
}
.restaurant-item {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 100%;
}
.secondary-button:hover{
    background-color: #555;
    color: #f9f9f9;
}
.font-bold{
  font-weight: 500;
}
